@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.banner .slider {
  position: absolute;
  width: 20%;
  height: 40vh;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner .content h1 {
  font-family: 'ICA Rubrik';
  font-size: 3em;
  line-height: 1em;
  color: #252838;
  margin-left: 5%;
}

.banner .content h1::after {
  font-family: 'ICA Rubrik';
  font-size: 3em;
  line-height: 1em;
  color: #252838;
  margin-left: 5%;
  content: attr(data-content);
  z-index: 2;
}

.banner .content .model {
  width: 100%;
  height: 70%;
  background-image: url('/images/4d.webp');
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
}
